<!-- <link rel="stylesheet" href="https:/bootswatch.com/3/superhero/bootstrap.min.css"> -->

<!--div class="container">
      <h1 class="display-5">Task Tracker</h1>
      <h4 id="h4title"> Welcome, {{title}}! </h4>
      <h4 id="h4position"> Position :<span>{{positionName}}</span></h4>
  <hr> 
  <div *ngIf="startTask">
      <div class="jumbotron">
          <p class="lead" style="text-align:right">
              <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2" role="button">Add Custom Task</a>
          </p>
          <div class="row">
            <div class="col-md-4" id="roleul">
                <ul class="list-group" id="role">
                    <h4 class="bg-primary text-white">List of Roles</h4>
                    <li class="list-group-item" [ngClass]="{'active': selectedItem == item}" (click)="listClick($event, item)" *ngFor="let item of this.roleNames">
                      <a> {{ item.RoleName }} </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8" *ngIf="condition">
                <h4 style="background-color:#E9ECEF"></h4> -->
              <!--p class="lead" *ngIf="taskList">No tasks to display. Add custom task</p>
              <table class="table table-striped" *ngIf="!taskList">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Task Name</th>
                      <th scope="col">Description</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                    <tr *ngFor="let it of this.taskdetails; index as i" (click)="start(i+1,it)">
                      <th scope="row">{{i+1}}</th>
                      <td>{{it.TaskName}}</td>
                      <td>{{it.Description}}</td>
                      <td>
                        <button type="button" class="btn btn-default btn-primary"  data-toggle="modal" data-target="#exampleModal">Start Task</button></td> 
                    </tr>                            
              </table>               
            </div>      
          </div> 
          <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Custom Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <div class="row">
                          <label for="role-name" class="form-control-label" placeholder="Role Name">Role Name:</label>
                          <select name="RoleName" id="roleName">
                              <option *ngFor="let item of this.roleNames" [value]="item.RoleID">
                                  {{ item.RoleName }}
                                </option>
                          </select>                          
                        </div>
                        </div>
                      <div class="form-group">
                        <label for="custom-task-name" class="form-control-label" placeholder="Task Name">Task Name:</label>
                        <input type="text" class="form-control" id="CustomTaskName" [(ngModel)] = 'customTask.TaskName' name='TaskName'>
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="form-control-label" placeholder="Description">Description:</label>
                        <textarea class="form-control" id="Customdescription" [(ngModel)] = 'customTask.TaskDescription' name='TaskDescription'></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)=customTaskSubmit(customTask)>Add Custom Task</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>   

            Mode to alert start task  -->
          <!--div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">        
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Task Tracker</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="lead">Do you want to start the task ?</p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal" (click) = "start(0,0)">Start</button>     
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>
  <div *ngIf="!startTask">
   <div class="jumbotron">
      <ul class="list-inline" style="width:100%">
          <li class="list-inline-item" id="startTime">Start Time: {{today | date:' HH:mm:ss' }}</li>
          <li class="list-inline-item" id="currentTime">Current Time: {{hoursDisplay ? hoursDisplay : '00'}} : {{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay : '00'}} : {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}}</li>
      </ul>
      <form class="task-form" #taskForm="ngForm" (ngSubmit)="submit(taskRes, userDuration)">
         <div class="form-group">
            <div class="row">
              <div class="name col-md-4">Task Name :</div>
              <div class="col-md-6"><input type="text" class="form-control" id="taskName" [(ngModel)] = 'taskRes.TaskName' name='taskName' placeholder="Task Name"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="name col-md-4">Duration (in minutes):</div>
              <div class="col-md-6"><input type="number" class="form-control" id="duration" [(ngModel)] = 'userDuration' name='duration' min=1 placeholder="Duration"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="name col-md-4">Description :</div>
              <div class="col-md-6"> <textarea class="form-control" id="taskDescription" [(ngModel)] = 'taskRes.Description' name='taskDescription'></textarea></div>
            </div>
          </div>
          <div class="form-group" style="text-align:center">
              <div class="row">
                <div class="col-md-4"></div>
                  <div class="name col-md-3">
                      <button type="submit" class="btn btn-block btn-success">Submit</button>              
                  </div>
              </div>
          </div>
        </form>
   </div>
  </div>
</div-->
<app-task></app-task>